/* IN CSS You can add commens. Like this. You write CSS by adding a
selector { property: value;
}
*/

/******************************************************
*******************************************************
2. All the fonts inside the boddy will follow this rule.
Unless I overried it with a more specific rule
*******************************************************
******************************************************/

body {
  font-family: 'Roboto', serif; /* font */
  font-size: 16px; /* 16px is the standard font size */
  line-height: 1.5; /* 1.5 times the size of the font, defines
  how much space between lines of text */
}

/******************************************************
*******************************************************
3. Headline styles for h1 and h2
*******************************************************
******************************************************/

h1 {
  background-color: orange; /*orange*/
  color: white; /* white */
  font-family: 'Roboto', sans-serif;
  font-size: 56px; /* define how big is the font size */
  font-weight: 700; /* weight means how bold. 300 is thing, 400 is normal, 700 is bold */
  text-align: center; /* align all text inside header to the center*/
  line-height: 1.2; /* how much space between lines of text */
  padding: 20px 20px 10px 20px;/* How much space around the block element box I want to give it.
  The rule is each value stands for Top, right, bottom, left, in that order */
}

/*header h2 lead*/
h2 {
  font-family: 'Roboto', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0px 20px;/* Top and bottom 0px of padding, right and left 20px of padding*/
  margin: 0px 60px;/* Top and bottom 0px of margin, right and left 60px of margin*/
}

/* byline */
b {
  color: deeppink;
  text-decoration:underline; /* the byline is underline */
  text-decoration-style: wavy; /* the underline's style is funky */
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 40px;/* add 40px of padding space in the bottom of byline*/
}

/* the paragraph that we want to look different os given a class and a name for the class. In this case we wrote in the html that this special <p> is <p class="different">
Classes in CSS start with a period. Like period different or .different */
.different {
  color: white;
  background-color: black;
  font-family: 'Kalam', cursive;
  font-size: 42px;
}

/* Image, figure and figcaption styles from general to specific */

figure {
  display: block;
  /* in this way it fills the width of the parent element article */
  margin: 0px;
  /* no margin to avoid extra space around the element */
}

img {
  border-radius: 50%; /* make the image round */
}

/*figcaption inherits font size from global styles*/
figcaption {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  padding: 2px 2px;
}
